*.xcuserstate
DashMart.xcodeproj/project.xcworkspace/xcuserdata/vanyanaumenko.xcuserdatad/UserInterfaceState.xcuserstate
DashMart.xcodeproj/xcuserdata/vanyanaumenko.xcuserdatad/xcschemes/xcschememanagement.plist
